<p>

Submit a file to split <br />
<form enctype="multipart/form-data" method="post" action="[% c.uri_for('imported_file') %]" >
Delim: <input type="text" value="," name="delimiter" /><br />
<input type="checkbox" name="colsplit" />Split columns
<input type="checkbox" name="rowsplit" />Split rows<br /><br />
File: <input type="file" name="file" / >
<br /><input type="Submit" value="Submit" />
</form>
</p>
